/* Write your CSS here */
.container {
  background-color: #f1f5f8;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.h1 {
  color: #2d3a35;
  font-size: 32px;
  margin-bottom: 5px;
}
.p1 {
  color: #2d3a35;
  font-size: 20px;
}
.count1 {
  color: #c20a72;
}
.btn1 {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-width: 0px;
  border-radius: 5px;
}
